@keyframes works3Move {
  49% {
    transform: translateX(-499px) rotateY(0deg);
  }
  50% {
    transform: translateX(-500px) rotateY(180deg);
  }
  99% {
    transform: translateX(-1px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@keyframes lh {
  0% {
    visibility: visible;
    transform: translateZ(0px);
  }
  50% {
    transform: translateX(-300px) rotateY(30deg) scale(0.7);
  }
}
@keyframes rs {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(300px) rotateY(-30deg) scale(0.7);
  }
}
@keyframes ls {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-300px) rotateY(30deg) scale(0.7);
  }
}
@keyframes rh {
  0% {
    visibility: visible;
    transform: translateZ(0px);
  }
  50% {
    transform: translateX(300px) rotateY(-30deg) scale(0.7);
  }
}
